<% include ../parcial/header.ejs %>

<nav class="menuPrincipal">
    <h2 id="titulo">Listar Livros</h2>
    <ul>
        <li><a href="/">Login</a></li>
        <li><a href="/index">Menu Principal</a></li>
        <li><a href="#">Cadastrar Livros</a></li>
        <li><a href="/livros/listarLivros
            ">Listar Livros</a></li>
        <li><a href="#">Autores</a></li>
        <li><a href="#">Editoras</a></li>
    </ul>
</nav>

<br>
<hr>

<section id="listarlivros">
    <fieldset>
        <legend>
            <h3> Registros de Livros</h3>
        </legend>
        <table id="registros" class="table table-hover">
            <tr class="text-center font-weight-bold">
                <th scope="col">Código</th>
                <td scope="col">Ativo/Inativo</td>
                <td scope="col">Dt.Cadastro</td>
                <td scope="col">Título do livro</td>
                <td scope="col">Edição</td>
                <td scope="col">ISBN</td>
                <td scope="col">Ano</td>
                <td scope="col">Autor</td>
                <td scope="col">Editora</td>
                <td scope="col">
                    <a class="btn btn-success btn-block" href="/livros/novoLivro">Novo Registro</a></td>
            </tr>

            <tbody>
                <% for(i=0; i <obj_livros.length; i++) { %>

                <tr>
                    <th scope="row"> <%= obj_livros[i].liv_codigo %> </th>
                    <td> <%= obj_livros[i].liv_ativoinativo %> </td>
                    <td> <%= obj_livros[i].liv_dtcadastro %> </td>
                    <td> <%= obj_livros[i].liv_titulo %> </td>
                    <td> <%= obj_livros[i].liv_edicao %> </td>
                    <td> <%= obj_livros[i].liv_isbn %> </td>
                    <td> <%= obj_livros[i].liv_ano %> </td>
                    <td> <%= obj_livros[i].aut_apelido %> </td>
                    <td> <%= obj_livros[i].edt_nome %> </td>

                    <td><a class="btn btn-primary btn-block"
                            href=<%="/livros/consultarLivro/" + obj_livros[i].liv_codigo%>>
                            Editar
                        </a></td>
                    <td>
                        <a class="btn btn-secondary btn-block"
                            href=<%="/livros/inativarLivro/" + obj_livros[i].liv_codigo%>>
                            Inativar/Ativar
                        </a>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </fieldset>
</section>


<% include ../parcial/footer.ejs %>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>

</html>