<% include ../parcial/header.ejs %>

<nav class="menuPrincipal">
    <h2 id="titulo">Listar Editar</h2>
    <ul>
        <li><a href="/">Login</a></li>
        <li><a href="/index">Menu Principal</a></li>
        <li><a href="#">Cadastrar Livros</a></li>
        <li><a href="/livros/listarLivros
            ">Listar Livros</a></li>
        <li><a href="#">Autores</a></li>
        <li><a href="#">Editoras</a></li>
    </ul>
</nav>

<br>
<hr>

<form action="/livros/gravarLivro" method="POST">
    <div class="container">
        <h3 class="text-center pb-4">Registro</h3>
        <div class="row justify-content-center">

            <div class="col-md-3">

                <label for="">
                    Codigo
                </label>
                <input type="text" name="liv_codigo" id="" value="<%=obj_livros[0].liv_codigo%>" class="form-control"
                    readonly>
            </div>
            <div class="col-md-4 ">

                <label for="dtcadastro">
                    Data Cadastro
                </label>
                <input type="text" name="liv_dtcadastro" id="dtcadastro" 
                value="<%=obj_livros[0].liv_dtcadastro%>"
                    class="form-control" readonly>
            </div>

        </div>
        <div class="row justify-content-center mt-1">
            <div class="col-md-2 ">

                <label for="">
                    Ativo/Inativo
                </label>
                <input type="text" name="liv_ativoinativo" id="ativoinativo" 
                value="<%=obj_livros[0].liv_ativoinativo%>"
                    class="form-control"/>
            </div>


            <div class="col-md-5 ">

                <label for="titulo">
                    Titulo do livro
                </label>
                <input type="text" name="liv_titulo" id="titulo" value="<%=obj_livros[0].liv_titulo%>"
                    class="form-control">
            </div>

        </div>
        <div class="row justify-content-center mt-1">
            <div class="col-md-2 ">

                <label for="edicao">
                    Edição
                </label>
                <input type="text" name="liv_edicao" id="edicao" value="<%=obj_livros[0].liv_edicao%>"
                    class="form-control" placeholder="nº Edição" size="15" maxlength="10">
            </div>
            <div class="col-md-3 ">

                <label for="">
                    ISBN
                </label>
                <input type="text" name="liv_isbn" id="edicao" class="form-control"
                    value="<%= obj_livros[0].liv_isbn %>" />
            </div>
            <div class="col-md-2">

                <label for="">
                    Ano
                </label>
                <input type="text" name="liv_ano" id="ano"
                    value="<%=obj_livros[0].liv_ano %>" class="form-control">
            </div>
        </div>


        <div class="row  justify-content-center mt-1 ">
            <div class="col-md-3">

                <label for="">
                    Autor
                </label>

                <select name="aut_codigo" id="aut_codigo" class="form-control " required aria-describedby="autoHelp">
                    <option value=""></option>
                    <% obj_autores.forEach(function(autores){ %>
                    <option <% if(autores.aut_codigo==obj_livros[0].aut_codigo) 
                    {%> selected="selected" <%}
                        %> value="
                        <%=autores.aut_codigo %>">
                        <%=autores.aut_codigo %>
                        <%=autores.aut_apelido %>
                    </option>
                    <% }); %>

                </select>
            </div>
            <div class="col-md-4">

                <label for="">
                    Editora
                </label>

                <select name="edt_codigo" id="edt_nome" class="form-control" required aria-describedby="autoHelp">
                    <option value=""></option>
                    <% obj_editoras.forEach(function(editoras){ %>
                    <option <% if(editoras.edt_codigo == obj_livros[0].edt_codigo) 
                {%> selected <%} %> value="
                    <%=editoras.edt_codigo %>">
                        <%=editoras.edt_codigo %>
                        <%=editoras.edt_nome %>
                    </option>
                    <% }); %>
                </select>

            </div>

        </div>


        <div class="row justify-content-center pt-2 mt-2">
            <div class="col-md-3 ">
                <a class="btn btn-primary btn-block" href="/livros/novoLivro">
                    Novo Registro</a>
            </div>
            <div class="col-md-3 ">
                <button class="btn btn-primary btn-block" type="submit">Gravar Registro</button>
            </div>
            <div class="col-md-2 ">
                <a href="/livros/listarLivros" class="btn btn-warning btn-block">Voltar</a>
            </div>

        </div>
    </div>
    </div>
</form>

<br>
<br>

<% include ../parcial/footer.ejs %>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>

</html>